@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body{
  background-color: #e1e1e1;
  font-family: Open Sans;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


